/*  your css code here. If applicable */
/* select the body element by its tag name */
body {
  background-color: rgb(135, 206, 235);
}

li {
  background-color: gray;
}

li {
  width: 50%;
}

li {
  padding: 10px;
}

li:nth-child(even) {
  background-color: white;
}

